/* add CSS class and element and selectors here */
body{
  background-color: red;
  text-align: center;
}

h3{
  font-size: 300%;
}

div{
  border: 10px solid black;
}

.font-style{
  color: green;
  text-shadow: 10px 10px rgba(0,0,0,0.5)
}
